$headerFontSize: 17px;
$headerFontStrech: normal normal normal bold 17px/17px Cairo;
.header {
  .icon-manual {
    color: #142645b3;
    padding-right: 5px;
    font-size: $headerFontSize;
  }

  .text {
    color: var(--lightBlack);
    font: $headerFontStrech;
    letter-spacing: 1.25px;
  }
}
