.icon-flag {
  color: #f54845;
  font-size: 11px;
  padding-right: 10px;
}
.head-icon {
  font-size: 32px;
  font-weight: normal !important;
}
.text {
  margin-top: 10px;
}
.tab-sec {
  align-items: flex-end;
  justify-content: end;
}
