.services-container {
    padding: 0 9px;
    .page-title {
        .icon-rateplan {
            font-size: 19px;
        }
    }
    .tab-sec {
        display: inline-flex;
        width: 100%;
        h4 {
            line-height: 0.5;
        }
    }
}
