<div class="container">
  <app-sidebar [ngClass]="state === 'open' ? 'stateOpen' : ''"></app-sidebar>
  <div class="main-content" [ngClass]="state === 'open' ? 'sidebarActive' : ''">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="loaderState | async as loading">
    <ngx-loading
      [show]="loading"
      [config]="{
        backdropBackgroundColour: 'rgba(255,255,255,0.60)',
        backdropBorderRadius: '0.2rem',
        fullScreenBackdrop: false,
        primaryColour: '#e60000',
        secondaryColour: '#e60000',
        tertiaryColour: '#e60000'
      }"
    ></ngx-loading>
  </div>
</div>
