.box-style {
  background: #31d57836 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  padding: 9px;
  text-align: center !important;
}
.font-style {
  color: #989898;
  margin: 0px;
}
.icon-dot {
  font-size: 11px;
  padding-right: 10px;
}
.icon-arrow-up {
  color: #21af5f;
  padding-right: 5px;
}
.icon-arrow-bottom {
  color: #e60000;
}
.services-container {
  padding: 0px !important;
}
.tab-sec {
  align-items: flex-end;
  justify-content: end;
}
