.red-button,
.white-color {
  width: 8rem;
}
.red-button :hover {
  background-color: var(--primaryColor) !important;
}

.content-style {
  padding: 0px 24px 24px 24px;
}
.col-style {
  text-transform: capitalize;
  padding-bottom: 1.5rem;
}
.dropdown-label {
  color: #6c757d;
  font-size: 15px;
  padding-left: 7px;
}
