<div class="page-container">
    <div class="row d-flex justify-content-center align-items-center text-center h-100">
        <div class="text-center">
            <img src="./assets/images/logo/logo_2x.png" />
            <h1 class="header-unauth"><code class="color-red">Access Denied</code></h1>
            <hr class="" style="margin: auto; width: 50%" />
            <h3 class="color-light-grey">You don't have permission to view this page.</h3>
            <i class="pi pi-ban" style="font-size: 3rem; color: #ed1b2e"></i>
        </div>
    </div>
</div>
